.Education {
  font-family: cursive;
  color: gray;
}

.WorkExperience {
  font-family: fantasy;
  color: purple;
}

.skills {
  font-style: italic;
  color: brown;
}

.bold {
  font-weight: bold;
  color: cyan;

}
